body {
  margin: 0;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  background-color: #485861;
  color: #ffe6cf;
  font-size: 11px;
  line-height: 1.25;
  font-weight: 500;
  overflow-x: hidden; /*가로 스크롤을 없어지게 함*/
}
.text-area {
  margin: 90px 0 0 24px;
}
.text-area h1 {
  font-size: 30px;
  line-height: 1.4;
  font-weight: normal;
}
.vloume {
  margin: 0 0 85px;
}
#circle-wrapper {
  position: relative;
  margin: 42px 0 0 24px;
}
.circle {
  position: absolute;
  width: 246px;
  height: 246px;
  border-radius: 50%;
}
.circle:nth-child(1) {
  background-color: transparent; /*투명하게*/
  border: 1px solid black;
  opacity: 0.2;
  box-sizing: border-box;
}
.circle:nth-child(2) {
  background-color: #ffc000;
  left: 100px;
}
.circle:nth-child(3) {
  background-color: #fedd15;
  left: 200px;
}
#badge {
  position: fixed;
  width: 56px;
  height: 56px;
  padding: 18px 13px;
  color: #485861;
  background-color: #ffc000;
  box-sizing: border-box;
  font-size: 9px;
  line-height: 11px;
  top: 0;
  right: 24px;
}
